nothinbutdotnetstore.tasks.startup.ConfigureCoreServices
nothinbutdotnetstore.tasks.startup.ConfigureServiceLayer
nothinbutdotnetstore.tasks.startup.ConfigureFrontController
nothinbutdotnetstore.tasks.startup.ConfigureRouting
nothinbutdotnetstore.tasks.startup.ConfigureApplicationCommands